{{#each leagues as |league|}}
  {{log league}}
    <h6>Sport:</h6>
    <p>
      {{#if league.sport}}
        {{league.sport}}
      {{/if}}
    </p>
    <h6>Name:</h6>
    <p>
      {{#if league.sport}}
        {{league.sport}}
      {{/if}}
    </p>
    <h6>Description:</h6>
    <p>
      {{#if league.description}}
        {{league.description}}
      {{/if}}
    </p>
    <p>Update:</p>
    <form class="update-league-form" data-id="{{league._id}}">
      <input required placeholder="Sport (Baseball, Football, etc.)" type="text" name="league[sport]">
      <input required placeholder="Name of Sport (MLB, NFL, etc.)" type="text" name="league[name]">
      <input required placeholder="Description (Favorite team, player, etc.)" type="text" name="league[description]">
      <button type="submit" class="btn btn-success">Update</button>
    </form>
    <button class="remove-league btn btn-danger" data-id="{{league._id}}">Delete</button>
  </section>

{{/each}}
